[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
bs4 = "*"
pandas = "*"
flask = "*"
flask-cors = "*"
marshmallow = "<3.0.0b7"
pyshorteners = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
